.laptop-table-image {
	width: 100%;
	margin-bottom: 5vh;
}
.p-panel {
	margin: 0 1vw;
}
.p-panel-content {
	background-color: rgba(31, 147, 224, 0.411) !important;
	min-height: 40vh;
	font-size: 18px;
}
.p-panel-title {
	font-size: 3vh;
}
.icon {
	margin-bottom: 1vh;
}
