@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@media screen and (max-width: 620px) {
	.welcome {
		background-color: #ffb641;
		position: relative;
		height: 40vh !important;
	}
	.welcome-grid {
		display: flex;
		flex-direction: column-reverse;
	}
	.laptop-table-image {
		height: 30vh;
		object-fit: cover;
	}
	.trouble-pic {
		display: none;
	}
	.service-list {
		background-attachment: fixed;
		background-size: cover !important;
	}
	.alert-box {
		top: 20vh !important;
		width: 90vw !important;
	}
}
.alert-box {
	position: absolute;
	z-index: 1000;
	top: 15vh;
	left: 50%;
	transform: translate(-50%, -50%);
}
.laptop-table-image {
	width: 100%;
	/* margin-bottom: 5vh; */
	/* height: 20vh; */
	max-height: 20vh;
	object-fit: cover;
}
.white-desk-image {
	width: 100%;
	/* margin: 5vh 0; */
	box-shadow: 1px 1px 20px 1px #696969 !important;
}
.p-grid {
	margin-right: 0 !important;
}
.nav-panel {
	margin: 0 1vw;
	transition: transform 0.2s !important; /* Animation */
	/* box-shadow: 1px 1px 5px 1px #696969 !important; */
}
.nav-panel:hover {
	transform: scale(1.1);
}
.p-grid {
	padding: 5vh 0;
	/* background-color: #2a78ec44 !important; */
	/* background-image: linear-gradient(to bottom right, #2a78ec, #2a78ec44); */
}
.service-types {
	background-size: cover;
	background-attachment: fixed;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../../images/computers.jpg') no-repeat center center fixed;
}
.nav-panel .p-panel-content {
	background-color: #ffffff !important;
	min-height: 40vh;
	font-size: 18px;
}
.nav-panel .p-panel-content > p {
	color: black !important;
	/* background-color: rgba(31, 147, 224, 0.411) !important; */
	font-size: 18px;
}

.nav-panel .p-panel-title {
	font-size: 3vh;
}
.icon {
	color: #007ad9 !important;
	margin-bottom: 1vh;
}

.tag {
	position: absolute;
	top: 40%;
	left: 70%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	/* background-color: rgba(0, 0, 0, 0.342); */
	text-shadow: 9px 9px 9px #aaaaaab0;
	/* -webkit-text-stroke: 0.4px black; */
	padding: 5px;
	color: rgb(75, 75, 75);
	font-weight: bold;
	font-size: 10vw;
}
ul {
	color: black;
	text-align: left;
	margin-left: 30px;
}
.welcome-grid {
	padding: 0;
}
.trouble-pic {
	background-color: #dfbc83;
	position: relative;
	height: 70vh;
}
.welcome {
	color: white;
	background-color: #e4a034;
	padding: 0;
	height: 70vh;
}
.tt {
	font-family: 'Fira Sans', sans-serif;
	font-size: 55px;
	margin-bottom: 0 !important;
}
.dw {
	font-size: 50px;
	margin-bottom: 0 !important;
	font-style: italic;
	-webkit-animation: 2s ease 0s normal forwards 1 fadein;
	animation: 2s ease 0s normal forwards 1 fadein;
}
@keyframes fadein {
	0% {
		opacity: 0;
	}
	66% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}
	66% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.su {
	font-family: 'Fira Sans', sans-serif;
	font-size: 30px;
	margin-bottom: 0;
}
.laptop-trouble {
	position: relative;
	top: 0;
	bottom: 0;
	margin: 10vh 2vh;
	max-height: 100%;
	max-width: 100%;
}
.welcome-text {
	margin: 8vw 5vw;
}
.divider {
	background-color: #0f71da;
	padding: 5vh 0;
	box-shadow: 0px 0px 30px 5px #696969 !important;
	position: relative;
	z-index: 10;
}
.divider-text {
	font-size: clamp(20px, 5vw, 50px);
	color: white;
	font-family: 'Fira Sans', sans-serif;
	/* text-shadow: 9px 0px 9px #858585b0; */
	margin: 0 !important;
}
