:root {
  /* --service-box-size: 60%; */
  --primary-color: #89b6d4;
  --dark-color: #333333;
  --light-color: #e7e7e7;
  --bad-color: #d46671;
  --good-color: #5ba36c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  color: black;
  height: 100vh;
}
header {
  font-size: 2vh;
  background-color: var(--dark-color);
  background-color: black;
  color: #fff;
  height: 15%;
}
body {
  height: 75%;
}
img {
  /* max-width: 60vw; */
  max-height: 100%;
}
.HeadGrid {
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
  grid-template-rows: 90px 90px;
  grid-gap: 10px;
}

.HeadBox {
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

.NavGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  /* grid-template-rows: 500px; */
}

.NavBox {
  border-radius: 5px;

  text-align: center;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  color: black;
}
.ServicesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(610px, 1fr));
  grid-template-rows: repeat(auto-fit);
  /* grid-gap: 10px; */
  /* background-color: #e6e6e6; */
  overflow: hidden;
  background-color: black;
}
.ServicesBox {
  width: 100vh;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: black;
  padding: 0 10vw;
}
.ServicesBox ul {
  background-color: black;
  font-size: 20px;
  list-style-type: none;
  padding-bottom: 10px;
  border-radius: 5px;
  /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.43); */

  color: var(--light-color);
}
.ServicesBox li {
  padding: 1vh;
}
a {
  color: black;
}
a:hover {
  color: #f0f0f0;
}
.QuoteBox {
  background-color: #8abad0;
  /* height: 10%; */
  margin-top: 5vh;
}
.QuoteBox h1 {
  font-size: 2vh;
  font-style: italic;
  padding: 2vh 10%;
}
.BusinessGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* grid-template-rows: 100%; */
}
.BusinessBox {
  text-align: left;
}
.BusinessServicesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 10vh;
  grid-gap: 10px;
}
.BusinessServicesBox {
  font-weight: bold;
  padding: 30px;
  text-align: center;
  background-color: var(--primary-color);
}
.Phone {
  text-align: left;
  padding-left: 10px;
}
@media screen and (max-width: 800px) {
  .ServicesBox {
    text-align: left;
  }
  .Phone {
    text-align: center;
    padding-left: 0;
  }
}
