:root {
	/* --service-box-size: 60%; */
	--primary-color: #89b6d4;
	--dark-color: #333333;
	--light-color: #e7e7e7;
	--bad-color: #d46671;
	--good-color: #5ba36c;
	--background-light: #d6d6d6;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.App {
	text-align: center;
	color: black;
	height: 100vh;
	background-color: white;
}
header {
	font-size: 2vh;
	background-color: var(--dark-color);
	background-color: white;
	color: black;
	height: 15%;
	text-align: center;
	text-decoration: 'none';
}
body {
	background-color: white;
	height: 75%;
}
hr {
	border-top: 2px solid rgb(196, 196, 196);
	border-radius: 5px;
	width: 70%;
	text-align: center;
	margin: auto;
}
h6 {
	padding: 20px;
}
img {
	/* max-width: 60vw; */
	max-height: 100%;
	box-shadow: 5px 5px 10px;
}
.ComputersImage {
	box-shadow: none;
	min-width: 100%;
	max-width: 100%;
}
.LaptopImage {
	max-width: 100%;
}

.HeadGrid {
	display: grid;
	grid-template-columns: 33vw 33vw 33vw;
	grid-template-rows: 90px 90px;
	grid-gap: 10px;
}

.HeadBox {
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
}

.NavGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	/* grid-template-rows: 500px; */
}

.NavBox {
	/* border-radius: 5px; */

	text-align: center;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	color: black;
}
.ServicesGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(610px, 1fr));
	grid-template-rows: repeat(auto-fit);
	/* grid-gap: 10px; */
	/* background-color: #e6e6e6; */
	overflow: hidden;
	background-color: white;
}
.ServicesBox {
	width: 100vh;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: black;
	padding: 0 10vw;
}
.ServicesBox ul {
	background-color: white;
	font-size: 20px;
	list-style-type: none;
	padding-bottom: 10px;
	border-radius: 5px;
	/* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.43); */

	color: black;
}
.ServicesBox li {
	padding: 1vh;
}
a {
	color: black;
}
a:hover {
	color: #f0f0f0;
}
.QuoteBox {
	background-color: #8abad0;
	/* height: 10%; */
	margin-top: 5vh;
	/* position: absolute;
	bottom: 0; */
	width: 100%;
}
.QuoteBox h1 {
	font-size: 2vh;
	font-style: italic;
	padding: 2vh 10%;
}
.BusinessGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	/* grid-template-rows: 100%; */
	grid-gap: 5vw;
	background-color: #d2eaf5;
}
.BusinessBox {
	text-align: left;
	max-width: 90vw;
	/* min-height: 50vh; */
}
.BusinessServicesGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-template-rows: 10vh;
	grid-gap: 10px;
}
.BusinessServicesBox {
	font-weight: bold;
	padding: 30px;
	text-align: center;
	background-color: #7fcbeb;
	max-width: 100vw;
	border-radius: 10px;
}
.circle {
	counter-reset: list-counter;
	list-style: none;
	float: left;
}
.circle li {
	margin: 1.5em 0;
}
.circle li:before {
	content: counter(list-counter);
	counter-increment: list-counter;
	width: 1em;
	height: 1em;
	padding: 0.5em;
	margin-right: 1em;
	border-radius: 50%;
	border: 0.25em solid #ccc;
	background: #000;
	color: #fff;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	display: inline-block;
}

.Phone {
	text-align: left;
	padding: 10px 0 0 10px;
}
@media screen and (max-width: 800px) {
	.ServicesBox {
		text-align: left;
	}
	.Phone {
		text-align: center;
		padding-left: 0;
	}
	.QuoteBox {
		position: relative;
	}
}
